nexys4ddr.cache/
nexys4ddr.hw/
nexys4ddr.runs/
nexys4ddr.sim/
nexys4ddr.srcs/sources_1/ip/clk_manager/clk_manager.dcp
nexys4ddr.srcs/sources_1/ip/clk_manager/clk_manager.v
nexys4ddr.srcs/sources_1/ip/clk_manager/clk_manager.xdc
nexys4ddr.srcs/sources_1/ip/clk_manager/clk_manager.xml
nexys4ddr.srcs/sources_1/ip/clk_manager/clk_manager_board.xdc
nexys4ddr.srcs/sources_1/ip/clk_manager/clk_manager_clk_wiz.v
nexys4ddr.srcs/sources_1/ip/clk_manager/clk_manager_ooc.xdc
nexys4ddr.srcs/sources_1/ip/clk_manager/clk_manager_sim_netlist.v
nexys4ddr.srcs/sources_1/ip/clk_manager/clk_manager_sim_netlist.vhdl
nexys4ddr.srcs/sources_1/ip/clk_manager/clk_manager_stub.v
nexys4ddr.srcs/sources_1/ip/clk_manager/clk_manager_stub.vhdl
nexys4ddr.srcs/sources_1/ip/clk_manager/mmcm_pll_drp_func_7s_mmcm.vh
nexys4ddr.srcs/sources_1/ip/clk_manager/mmcm_pll_drp_func_7s_pll.vh
nexys4ddr.srcs/sources_1/ip/clk_manager/mmcm_pll_drp_func_us_mmcm.vh
nexys4ddr.srcs/sources_1/ip/clk_manager/mmcm_pll_drp_func_us_pll.vh
nexys4ddr.srcs/sources_1/ip/ddr2_ctrl/ddr2_ctrl.dcp
nexys4ddr.srcs/sources_1/ip/ddr2_ctrl/ddr2_ctrl.veo
nexys4ddr.srcs/sources_1/ip/ddr2_ctrl/ddr2_ctrl.xml
nexys4ddr.srcs/sources_1/ip/ddr2_ctrl/ddr2_ctrl/
nexys4ddr.srcs/sources_1/ip/ddr2_ctrl/ddr2_ctrl_sim_netlist.v
nexys4ddr.srcs/sources_1/ip/ddr2_ctrl/ddr2_ctrl_sim_netlist.vhdl
nexys4ddr.srcs/sources_1/ip/ddr2_ctrl/ddr2_ctrl_stub.v
nexys4ddr.srcs/sources_1/ip/ddr2_ctrl/ddr2_ctrl_stub.vhdl
nexys4ddr.srcs/sources_1/ip/ddr2_ctrl/ddr2_ctrl_xmdf.tcl
nexys4ddr.srcs/sources_1/ip/ddr2_ctrl/xil_txt.in
!nexys4ddr.srcs/sources_1/ip/ddr2_ctrl/*.prj

