config.mk*
*~
c/nocinit.c
c/cmp/nocinit.c
hardware/project
hardware/target
hardware/build
tools/c/build
tools/java/build
tools/scripts/build
tmp/
simulator/build
install/
doc/c_doc

hardware/quartus/altde2-115/db
hardware/quartus/altde2-115/incremental_db

*_summary.xml
*_usage.xml
*_pn.xml

*.bld
*.cmd_log
*.ncd
*.lso
*.ngc
*.ngd
*.ngr
*.par
*.pcf
*.prj
*.stx
*.syr
*.xst
*.map
*.mrp
*.ngm
*.xrpt
*.log
*.vcd
*.pdf
*.qdf
*.summary
*.pin
*.rpt
*.smsg

# Ignore LaTeX temp files
doc/**/*.aux
doc/**/*.toc
doc/**/*.bbl
doc/**/*.blg
doc/**/*.lof
doc/**/*.lot
doc/**/*.lol
doc/**/*.synctex.gz

# Ignore KDevelop project files
*.kdev4
