genesys2.cache/
genesys2.hw/
genesys2.runs/
genesys2.sim/
genesys2.srcs/sources_1/ip/clk_manager/clk_manager.dcp
genesys2.srcs/sources_1/ip/clk_manager/clk_manager.v
genesys2.srcs/sources_1/ip/clk_manager/clk_manager.xdc
genesys2.srcs/sources_1/ip/clk_manager/clk_manager.xml
genesys2.srcs/sources_1/ip/clk_manager/clk_manager_board.xdc
genesys2.srcs/sources_1/ip/clk_manager/clk_manager_clk_wiz.v
genesys2.srcs/sources_1/ip/clk_manager/clk_manager_late.xdc
genesys2.srcs/sources_1/ip/clk_manager/clk_manager_ooc.xdc
genesys2.srcs/sources_1/ip/clk_manager/clk_manager_sim_netlist.v
genesys2.srcs/sources_1/ip/clk_manager/clk_manager_sim_netlist.vhdl
genesys2.srcs/sources_1/ip/clk_manager/clk_manager_stub.v
genesys2.srcs/sources_1/ip/clk_manager/clk_manager_stub.vhdl
genesys2.srcs/sources_1/ip/clk_manager/mmcm_pll_drp_func_7s_mmcm.vh
genesys2.srcs/sources_1/ip/clk_manager/mmcm_pll_drp_func_7s_pll.vh
genesys2.srcs/sources_1/ip/clk_manager/mmcm_pll_drp_func_us_mmcm.vh
genesys2.srcs/sources_1/ip/clk_manager/mmcm_pll_drp_func_us_pll.vh
genesys2.srcs/sources_1/ip/ddr3_ctrl/ddr3_ctrl.dcp
genesys2.srcs/sources_1/ip/ddr3_ctrl/ddr3_ctrl.veo
genesys2.srcs/sources_1/ip/ddr3_ctrl/ddr3_ctrl.xml
genesys2.srcs/sources_1/ip/ddr3_ctrl/ddr3_ctrl/
genesys2.srcs/sources_1/ip/ddr3_ctrl/ddr3_ctrl_sim_netlist.v
genesys2.srcs/sources_1/ip/ddr3_ctrl/ddr3_ctrl_sim_netlist.vhdl
genesys2.srcs/sources_1/ip/ddr3_ctrl/ddr3_ctrl_stub.v
genesys2.srcs/sources_1/ip/ddr3_ctrl/ddr3_ctrl_stub.vhdl
genesys2.srcs/sources_1/ip/ddr3_ctrl/ddr3_ctrl_xmdf.tcl
genesys2.srcs/sources_1/ip/ddr3_ctrl/xil_txt.in
!genesys2.srcs/sources_1/ip/ddr3_ctrl/*.prj
