#
# pin constraints
#
NET "iUartPins_rxd" LOC = J24;
NET "iUartPins_rxd" IOSTANDARD = LVCMOS25;
NET "oUartPins_txd" LOC = J25;
NET "oUartPins_txd" IOSTANDARD = LVCMOS25;
NET "clk" LOC = U23;
NET "clk" IOSTANDARD = LVCMOS25;

NET "clk" TNM_NET = "ext_clk";
TIMESPEC "ts_ext_clk" = PERIOD "ext_clk" 15 ns HIGH 50%;
