# Constrain BUFR clocks used to synchronize data from IOB to fabric logic
# Note that ISE cannot infer this from other PERIOD constraints because
# of the use of OSERDES blocks in the BUFR clock generation path
NET "*/raptor_0/phy_top0/clk_rsync[?]" TNM_NET = TNM_clk_rsync;
TIMESPEC "TS_clk_rsync" = PERIOD "TNM_clk_rsync" 5000 ps;       # This is over-constraint for 200MHz, user can relax it to match mpmc_clk0
 
# Paths between DQ/DQS ISERDES.Q outputs and CLB flops clocked by falling 
# edge of BUFR will by design only be used if DYNCLKDIVSEL is asserted for 
# that particular flop. Mark this path as being a full-cycle, rather than 
# a half cycle path for timing purposes. NOTE: This constraint forces full-
# cycle timing to be applied globally for all rising->falling edge paths 
# in all resynchronizaton clock domains. If the user had modified the logic
# in the resync clock domain such that other rising->falling edge paths 
# exist, then constraint below should be modified to utilize pattern 
# matching to specific affect only the DQ/DQS ISERDES.Q outputs
TIMEGRP "TG_clk_rsync_rise" = RISING  "TNM_clk_rsync";
TIMEGRP "TG_clk_rsync_fall" = FALLING "TNM_clk_rsync";
TIMESPEC "TS_clk_rsync_rise_to_fall" =    FROM "TG_clk_rsync_rise" TO "TG_clk_rsync_fall" 5000 ps;    # This is over-constraint for 200MHz, user can relax it to match mpmc_clk0
 
# Signal to select between controller and physical layer signals. Four divided by two clock
# cycles (4 memory clock cycles) are provided by design for the signal to settle down.
# Used only by the phy modules.
INST "*/raptor_0/phy_top0/u_phy_init/u_ff_phy_init_data_sel" TNM = "TNM_PHY_INIT_SEL";
TIMESPEC "TS_MC_PHY_INIT_SEL" = FROM "TNM_PHY_INIT_SEL" TO FFS = 10000 ps;                         # This is over-constraint, user can relax it to match 4 memory clock cycles

###############################################################################
#DCI_CASCADING
#Syntax : CONFIG DCI_CASCADE = "<master> <slave1> <slave2> ..";
###############################################################################
#CONFIG DCI_CASCADE = "26 25";
CONFIG DCI_CASCADE = "36 35";

Net fpga_0_clk_1_sys_clk_p_pin TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 200000 kHz;
Net fpga_0_clk_1_sys_clk_p_pin LOC = J9  |  IOSTANDARD=LVDS_25  |  DIFF_TERM = TRUE;
Net fpga_0_clk_1_sys_clk_n_pin LOC = H9  |  IOSTANDARD=LVDS_25  |  DIFF_TERM = TRUE;
Net fpga_0_rst_1_sys_rst_pin TIG;
Net fpga_0_rst_1_sys_rst_pin LOC = H10  |  IOSTANDARD=SSTL15  |  PULLUP  |  TIG;

# North GPIO LED
Net raptor_0_ctrl_init_complete_pin LOC = AH27  |  IOSTANDARD=LVCMOS25;
# West GPIO LED
Net raptor_0_mem_check_ok_pin LOC = AD21  |  IOSTANDARD=LVCMOS25;

Net txd LOC = J25;
Net rxd LOC = J24;

###### DDR3_SDRAM
Net raptor_0_DDR3_Clk<0> LOC=G18  |  IOSTANDARD = DIFF_SSTL15;
Net raptor_0_DDR3_Clk_n<0> LOC=H18  |  IOSTANDARD = DIFF_SSTL15;
Net raptor_0_DDR3_CE<0> LOC=M18  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_CS_n<0> LOC=K18  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_odt<0> LOC=F18  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_ras LOC=L19  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_cas LOC=C17  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_we LOC=B17  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_BankAddr<0> LOC=K19  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_BankAddr<1> LOC=J19  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_BankAddr<2> LOC=L15  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_Addr<0> LOC=L14  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_Addr<1> LOC=A16  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_Addr<2> LOC=B16  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_Addr<3> LOC=E16  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_Addr<4> LOC=D16  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_Addr<5> LOC=J17  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_Addr<6> LOC=A15  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_Addr<7> LOC=B15  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_Addr<8> LOC=G15  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_Addr<9> LOC=F15  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_Addr<10> LOC=M16  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_Addr<11> LOC=M15  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_Addr<12> LOC=H15  |  IOSTANDARD = SSTL15;

Net raptor_0_DDR3_DQ<0> LOC=J11  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<1> LOC=E13  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<2> LOC=F13  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<3> LOC=K11  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<4> LOC=L11  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<5> LOC=K13  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<6> LOC=K12  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<7> LOC=D11  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<8> LOC=M13  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<9> LOC=J14  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<10> LOC=B13  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<11> LOC=B12  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<12> LOC=G10  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<13> LOC=M11  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<14> LOC=C12  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<15> LOC=A11  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<16> LOC=G11  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<17> LOC=F11  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<18> LOC=D14  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<19> LOC=C14  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<20> LOC=G12  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<21> LOC=G13  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<22> LOC=F14  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<23> LOC=H14  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<24> LOC=D26  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<25> LOC=F26  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<26> LOC=B26  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<27> LOC=E26  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<28> LOC=C24  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<29> LOC=D25  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<30> LOC=D27  |  IOSTANDARD = SSTL15_T_DCI;
Net raptor_0_DDR3_DQ<31> LOC=C25  |  IOSTANDARD = SSTL15_T_DCI;

Net raptor_0_DDR3_DM<0> LOC=E11  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_DM<1> LOC=B11  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_DM<2> LOC=E14  |  IOSTANDARD = SSTL15;
Net raptor_0_DDR3_DM<3> LOC=A26  |  IOSTANDARD = SSTL15;

Net raptor_0_DDR3_Reset_n LOC=E18  |  IOSTANDARD = LVCMOS15;
Net raptor_0_DDR3_DQS<0>   LOC=D12  |  IOSTANDARD = DIFF_SSTL15_T_DCI;
Net raptor_0_DDR3_DQS_n<0> LOC=E12  |  IOSTANDARD = DIFF_SSTL15_T_DCI;
Net raptor_0_DDR3_DQS<1>   LOC=H12  |  IOSTANDARD = DIFF_SSTL15_T_DCI;
Net raptor_0_DDR3_DQS_n<1> LOC=J12  |  IOSTANDARD = DIFF_SSTL15_T_DCI;
Net raptor_0_DDR3_DQS<2>   LOC=A13  |  IOSTANDARD = DIFF_SSTL15_T_DCI;
Net raptor_0_DDR3_DQS_n<2> LOC=A14  |  IOSTANDARD = DIFF_SSTL15_T_DCI;
Net raptor_0_DDR3_DQS<3>   LOC=B25  |  IOSTANDARD = DIFF_SSTL15_T_DCI;
Net raptor_0_DDR3_DQS_n<3> LOC=A25  |  IOSTANDARD = DIFF_SSTL15_T_DCI;

#Net fpga_0_LEDs_Positions_GPIO_IO_pin<0> LOC=AP24  |  IOSTANDARD=LVCMOS25;
#Net fpga_0_LEDs_Positions_GPIO_IO_pin<1> LOC=AE21  |  IOSTANDARD=LVCMOS25;
#Net fpga_0_LEDs_Positions_GPIO_IO_pin<2> LOC=AH27  |  IOSTANDARD=LVCMOS25;
#Net fpga_0_LEDs_Positions_GPIO_IO_pin<3> LOC=AH28  |  IOSTANDARD=LVCMOS25;
#Net fpga_0_LEDs_Positions_GPIO_IO_pin<4> LOC=AD21  |  IOSTANDARD=LVCMOS25;

###### DDR3_SDRAM



###############################################################################
# Capture Clock Constraints
# Available sites are:
#  Bank 35:
#    C13:  IO_L11P_SRCC_35 : X2Y137 : CPT[0]
#    M12:  IO_L10P_MRCC_35 : X2Y139 : RSYNC[0]
#    L13:  IO_L9P_MRCC_35  : X2Y141 : CPT[1]
#    K14:  IO_L8P_SRCC_35  : X2Y143 : CPT[2]
#  Bank 26: 
#    F21:  IO_L10P_MRCC_26 : X1Y179 : CPT[3]
#    B20:  IO_L9P_MRCC_26  : X1Y181 : CPT[4]
#    F19:  IO_L8P_SRCC_26  : X1Y183 : 
#  Bank 25:
#    F25:  IO_L11P_SRCC_25 : X1Y137 : CPT[5]
#    C29:  IO_L10P_MRCC_25 : X1Y139 : RSYNC[1]
#    C28:  IO_L9P_MRCC_25  : X1Y141 : CPT[6]
#    D24:  IO_L8P_SRCC_25  : X1Y143 : CPT[7]
###############################################################################

CONFIG PROHIBIT = C29,M12;

#####################################################################
# Place RSYNC OSERDES and IODELAY:
#####################################################################

# CLK_RSYNC[0]: Site M12
INST "*/u_phy_rdclk_gen/gen_loop_col0.u_oserdes_rsync"  
  LOC = "OLOGIC_X2Y139";
INST "*/u_phy_rdclk_gen/gen_loop_col0.u_odelay_rsync"
  LOC = "IODELAY_X2Y139";
INST "*/u_phy_rdclk_gen/gen_loop_col0.u_bufr_rsync"
  LOC = "BUFR_X2Y6";

# CLK_RSYNC[1]: Site C29
INST "*/u_phy_rdclk_gen/gen_loop_col1.u_oserdes_rsync"  
  LOC = "OLOGIC_X1Y139";
INST "*/u_phy_rdclk_gen/gen_loop_col1.u_odelay_rsync"
  LOC = "IODELAY_X1Y139";
INST "*/u_phy_rdclk_gen/gen_loop_col1.u_bufr_rsync"
  LOC = "BUFR_X1Y6";

CONFIG PROHIBIT = B20,C13,C28,D24,F21,F25,K14,L13,H22,F19;

 
# Place CPT OSERDES and IODELAY:
# DQS[0]: Site C13
INST "*/u_phy_rdclk_gen/gen_ck_cpt[0].u_oserdes_cpt"
  LOC = "OLOGIC_X2Y137";
INST "*/u_phy_rdclk_gen/gen_ck_cpt[0].u_odelay_cpt"
  LOC = "IODELAY_X2Y137";
# DQS[1]: Site L13
INST "*/u_phy_rdclk_gen/gen_ck_cpt[1].u_oserdes_cpt"
  LOC = "OLOGIC_X2Y141";
INST "*/u_phy_rdclk_gen/gen_ck_cpt[1].u_odelay_cpt"
  LOC = "IODELAY_X2Y141";
# DQS[2]: Site K14
INST "*/u_phy_rdclk_gen/gen_ck_cpt[2].u_oserdes_cpt"
  LOC = "OLOGIC_X2Y143";
INST "*/u_phy_rdclk_gen/gen_ck_cpt[2].u_odelay_cpt"
  LOC = "IODELAY_X2Y143";
# DQS[3]: Site F25  
INST "*/u_phy_rdclk_gen/gen_ck_cpt[3].u_oserdes_cpt"
  LOC = "OLOGIC_X1Y137";
INST "*/u_phy_rdclk_gen/gen_ck_cpt[3].u_odelay_cpt"
  LOC = "IODELAY_X1Y137";

INST "clock_generator_0/clock_generator_0/MMCM0_INST/MMCM_ADV_inst"  LOC = "MMCM_ADV_X0Y9"; #Banks 16, 26, 36
